* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background: cadetblue;
}

main {
	max-width: 1200px;
	margin: 30px auto;
}

div {
	margin-block: 20px;
}

.title {
	font-size: 20;
	margin-block-end: 12px;
}

.profilePicture {
	text-align: center;
}

li {
	margin-block-end: 8px;
}

p {
	line-height: 28px;
	letter-spacing: 2px;
}

@media screen and (max-width: 1250px) {
	main {
		padding: 0 30px;
	}
}